SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [REG_IN_PROG-PRIDISPUTE]
@Pageno				INT=1,
@filter				NVARCHAR(500)='',
@pagesize			INT=20,  
@Sorting			NVARCHAR(500)='CC.OfficeFileNo',
@SortOrder			NVARCHAR(500)='desc',
@UserName			NVARCHAR(5)=null,
@DataFor			NVARCHAR(25)=null,
@Location			NVARCHAR(1)=null,
@FileStatus			NVARCHAR(3)=null
AS
DECLARE
@FilterText			NVARCHAR(MAX) = '',
@FinalQuery			NVARCHAR(MAX),
@FinalSummaryQuery	NVARCHAR(MAX),
@FetchLimit			NVARCHAR(MAX),
@TableColumn		NVARCHAR(MAX)  = ' CaseId,CaseRegistrationId,OfficeFileNo,ClientName,Defendant,FileStatusName,ActionCounter,Notes,Court,DaysCounter ',
@TableQuery			NVARCHAR(MAX),
@AdditionalWhere	NVARCHAR(MAX) = ' where 1=1',
@QueryFirstPart		NVARCHAR(MAX),
@SelectColumns		NVARCHAR(MAX) = '
			,sortDate 
			FROM (
				Select	
				 CC.CaseId
				,CR.CaseRegistrationId
				,CC.OfficeFileNo
				,ClientMas.Mst_Desc as ClientName
				,CC.Defendant as Defendant
				,FileStatus.Mst_Desc as FileStatusName
				,DATEDIFF(DAY, dateadd(hour , 11, CR.ActionDate),dateadd(hour , 11,GETDATE())) as ActionCounter
				,DATEDIFF(DAY, dateadd(hour , 11, CR.DisputrRegisterDate),dateadd(hour , 11,GETDATE())) as DaysCounter
				,CR.OfficeProcedure as Notes
				,case when CR.CourtLocationid = ''0'' then null else Courts.Mst_Desc end as Court
				,CR.DisputrRegisterDate AS sortDate
				from CaseRegistrations CR
				',

@SummaryQuery		NVARCHAR(MAX) = '
									SELECT
									COUNT(*) as recordsTotal,
									count(case when left(CC.OfficeFileNo,1) = ''M'' then 1 end) MCTRecords,
									count(case when left(CC.OfficeFileNo,1) = ''S'' then 1 end) SLLRecords
									from CaseRegistrations CR
									',
@JoinTables			NVARCHAR(MAX) = ' 
									Inner Join CourtCases as CC on cc.CaseId = CR.CaseId
									left join MASTER_S Courts on CR.CourtLocationid = Courts.Mst_Value and Courts.MstParentId = 4
									left join MASTER_S ClientMas on CC.ClientCode = ClientMas.Mst_Value and ClientMas.MstParentId = 241
									left join MASTER_S FileStatus on CR.FileStatus = FileStatus.Mst_Value and FileStatus.MstParentId = 788 
									',
@Where				NVARCHAR(MAX) = ' 
									where CR.IsDeleted = 0
									AND   CR.ActionLevel = ''4''
									AND   CR.FileStatus not in (''2'')
									AND   CR.DisputeLevel = ''1''
									AND   CC.CaseStatus = ''1''
									AND   1 = case when CR.FileStatus = ''11'' AND DATEDIFF(hour, dateadd(hour , 11, CR.UpdatedOn),dateadd(hour , 11,GETDATE())) > 120 then 0 else 1 end
									AND  (LEFT(CC.OfficeFileNo,1) = '''+@Location+''' OR '''+@Location+''' = ''A'')
									'

BEGIN
	SET @QueryFirstPart = '
SELECT '+@TableColumn+' 
 FROM 
  ( 
   SELECT ROW_NUMBER() OVER (order by DaysCounter desc,sortDate) as RowNum, * 
    from 
	  ( 
	   SELECT '
	SET @TableQuery  = @SelectColumns+@JoinTables+@Where

	IF(@filter !='')
	BEGIN
		SET @FilterText = '
						AND (
							CC.OfficeFileNo like ''%'+CONVERT(NVARCHAR,@filter)+'%'' 
							OR ClientMas.Mst_Desc like N''%'+CONVERT(NVARCHAR,@filter)+'%'' 
							OR CC.Defendant like ''%'+CONVERT(NVARCHAR,@filter)+'%'' 
							OR Courts.Mst_Desc like ''%'+CONVERT(NVARCHAR,@filter)+'%''
							OR FileStatus.Mst_Desc like N''%'+CONVERT(NVARCHAR,@filter)+'%'' 
							OR CR.OfficeProcedure like N''%'+CONVERT(NVARCHAR,@filter)+'%'' 
							)
							'
	END


	IF(@pagesize > 0)
	BEGIN
		SET @pagesize = @pagesize + @Pageno
		SET @Pageno = @Pageno + 1
		SET @FetchLimit = 'WHERE RowNum >= '+CONVERT(varchar,@Pageno)+' AND RowNum <= '+CONVERT(varchar,@pagesize)
	END
	ELSE
	BEGIN	
		SET @FetchLimit = ' ' 
	END

BEGIN	
	SET @FinalQuery = @QueryFirstPart + @TableColumn + @TableQuery + @FilterText + 
			' ) AS DAT ' + 
			  @AdditionalWhere + 
	  ' ) AS RowConstrainedResult 
	) AS FINAL ' + @FetchLimit+' ORDER BY DaysCounter DESC,RowNum '
	
	SET @FinalSummaryQuery = @SummaryQuery+@JoinTables+@Where+@FilterText
END

print @FinalQuery
exec (@FinalQuery)
print @FinalSummaryQuery
exec (@FinalSummaryQuery)

END
GO
