@model YandS.UI.Models.ToBeRegisterVM
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Subject)
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @tabindex = "12" } })
        </div>
    </div>
</div>

